/* Index page css */

.header{

    background-color: #F1F1F1;
    width: 100%;
    border-bottom: 1px solid #777777;
    position: relative;
    top: 0px;

}

body {

    margin: 0;
    background-image: url(../images/what-the-hex.png)

}

.footer{

    background-color: #666666;
    width: 100%;
    border-top: 10px solid #4aaaa5;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #dddddd;

}

hr {
    margin: 0px 30px 0px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #dddddd;
    padding: 0; 
}

.clear {
    clear: both;
}

h1{

    width: auto;
    color: #ffffff;
    display: inline-block;
    padding: 15px;
    font-family: 'Georgia', Times, Times New Roman, serif;

}


h2{

    padding: 0px 30px 0px;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    align-self: center;

}

#titleName{

    background-color:#4aaaa5;
    padding: 25px;
    align-self: flex-start;
    margin: 0px;
    
} 



.container-1{
    top: 0px;
    margin: auto;
    display: flex;
    align-items: center;
    width: 960px;
    justify-content: space-between;

}

#container-2{

    margin: auto;
    width: 960px;
    background-color: #ffffff;
    border-style: solid;
    border-color: #dddddd;

}

#leftwall{
    border-left: 2px solid #dddddd;
    padding-left: 15px;
}

#profilePic{
    float: left;
    padding: 0px 15px 15px 15px;
}

#personalText{
    
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 15px;
    line-height: 2;

}


/* flex boxes */

/* page title (name) */
.box1{

    flex: 1;
    height: 86px;

}


.navBar{ 

    flex: 1;
    justify-content: space-between; 
    display: block;

}

.navBar a{

    float: right;
    color: #777777;
    margin: 5px;


}

/* Contact page css */

#infoForm {

    width: 900px;
    padding: 30px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

input[type=text], select, textarea {
    
    width: 100%;
    padding: 12px;
    border: 2px solid #dddddd;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #f0f0f0;

}

input[type=submit] {

    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;

}

input[type=submit]:hover {

    background-color: #777777;

}


.container {
    
    background-color: #f2f2f2;
    padding: 20px;

}

/* Protfolio page css */

.portGrid {

    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    
}
  
.portGrid > div {
    
    background-color: #f1f1f1;
    width: 250px;
    margin: 10px;
    text-align: center;
    line-height: 200px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    

}

#fbox1{

    background-image: url(../images/what-the-hex.png)

}

    #hangman{

        display: flex;
        flex-direction: column;
        background-color: #4aaaa5;
        width: 250px;
        margin: 10px;
        align-content: flex-end;
        line-height: 50px;
        text-align: center;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 

    }

#fbox2{

    background-image: url(../images/what-the-hex.png)

}

#fbox3{

    background-image: url(../images/what-the-hex.png)

}

#fbox4{

    background-image: url(../images/what-the-hex.png)

}

.fbox5{

    background-image: url(../images/what-the-hex.png)

}